@tailwind base;
@tailwind components;
@tailwind utilities;

.hololive-bg {
  background-color: #f3f4f6;
  background-image: 
    radial-gradient(#e5e7eb 2px, transparent 2px),
    radial-gradient(#e5e7eb 2px, transparent 2px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}